#VsCode
.vscode
workspace.code-workspace

etaller/

# Vue project
backend/frontend/

backend/db.sqlite3

*.pyc

# App Book
backend/apps/books/migrations/*.py
!backend/apps/books/migrations/__init__.py

# App Elements
backend/apps/elements/migrations/*.py
!backend/apps/elements/migrations/__init__.py