#VsCode
.vscode
workspace.code-workspace

# Database Local
backend/db.sqlite3

# Secret Keys
backend/.env

# Cache
*.pyc

# Migrations
backend/apps/**/migrations/*.*
!backend/apps/**/migrations/__init__.py

# Fixtures
backend/apps/**/fixtures/*.*

# Media and Static Files
backend/media/
backend/staticfiles/

# Vue project
backend/frontend/
backend/media/