[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
Django = "==3.2.*"
unipath = "*"
django-cors-headers = "*"
django-import-export = "*"
pillow = "*"
python-dotenv = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]
django-extensions = "*"
ptpython = "*"
ipython = "*"
django-tabulate = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
